.jumbotron {
   padding:70px 30px 70px 30px;
   margin:0px auto;
   background-image: url("https://bizweb.dktcdn.net/100/340/551/themes/736588/assets/slider_2.png?1660634576913") ;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: auto;
}

.top-bot-color{
   color:floralwhite;
}

.row-header{
   margin:0px auto;
   padding:0px auto;
}

.row-content {
   margin:0px auto;
   padding: 50px 0px 50px 0px;
   border-bottom: 1px ridge;
   min-height:400px;
}

/* footer */
.bg-content{
   background-color: aliceblue;
}